<!-- Vincular Bootstrap JS y dependencias -->
<script language="javascript" src="../src/archives/jQuery/jquery-3.6.3.min.js"></script>
<script src="../src/archives/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Mis funciones de javascript -->
<script src="../src/js/globalVariables.js"></script>
<script src="../src/js/globalFunctions.js"></script>
<script src="../src/js/ajaxProduct.js"></script>
<script src="../src/js/ajaxCategory.js"></script>
<script src="../src/js/ajaxColor.js"></script>
<script src="../src/js/ajaxUser.js"></script>
<script src="../src/js/ajaxSesion.js"></script>
<script src="../src/js/ajaxOrder.js"></script>
<script src="../src/js/ajaxDashboard.js"></script>
<script src="../src/js/ajaxHoliday.js"></script>
<script src="../src/js/sweetAlerts.js"></script>
<script src="../src/js/changeImg.js"></script>
<script src="../src/js/cardsProducts.js"></script>
<script src="../src/js/colorsTable.js"></script>
<script src="../src/js/onChangeEvents.js"></script>
<script src="../src/js/nullData.js"></script>
<script src="../src/js/orderBy.js"></script>
<script src="../src/js/grafic.js"></script>
<script src="../src/js/partsImage.js"></script>
<script src="../src/js/stars.js"></script>
<script src="../src/js/ajaxComentary.js"></script>
<script src="../src/js/ajaxNews.js"></script>
<script src="../src/js/ajaxCarousel.js"></script>
<script src="../src/js/filterbar.js"></script>
<script src="../src/js/infos.js"></script>
<script src="../src/js/ajaxRarity.js"></script>
<script src="../src/js/ajaxUniverse.js"></script>
<script src="../src/js/ajaxDiscount.js"></script>
<script src="../src/js/ajaxAccesory.js"></script>
<script src="../src/js/ajaxInteraction.js"></script>
<script src="../src/js/ajaxConfiguration.js"></script>

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
