<section class="pt-3 pb-5">
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <img class="me-3" src="../src/img/app/SH_Logo.png" alt="" style="height: 32px; width: auto;">SH App
                </h6>
                <p>
                    ¡Realice pedidos aquí en nuestra tienda virtual! Nosotros recibimos sus pedidos, los fabricamos y se los hacemos llegar a sus manos.
                </p>
                <p>
                    ¡Sigue nuestra página de Facebook para ver y recibir información nueva de SH!
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Entregas
                </h6>
                <p>Bagaces</p>
                <p>Liberia (negociable)</p>
                <p>Cañas (negociable)</p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Contacto
                </h6>
                <p><i class="bi bi-geo-alt-fill me-3"></i>Guanacaste, Bagaces, Bagaces</p>
                <p><i class="bi bi-envelope-fill me-3"></i>sh.app2024@gmail.com</p>
                <p><i class="bi bi-facebook me-3"></i><a href="https://www.facebook.com/share/12GA8uQTnEW/">www.facebook.com</a></p>
            </div>
        </div>
    </div>
</section>

<div class="text-center p-4" style="background-color: #444; color: white;">
    <p class="fs-5 fw-bolder mt-2 mb-0">© 2026</p>
    <p class="text-end fs-6 p-0 m-0"><?php echo $appVersion ?></p>
</div>