<!-- Icono de la pestaña -->
<link rel="icon" href="../src/img/app/SH_Logo.png" type="image/png">

<!-- Bootstrap -->
<link rel="stylesheet" href="../src/archives/bootstrap/css/bootstrap.min.css">

<!-- Mis hojas de estilo -->
<link rel="stylesheet" href="../src/css/default.css">
<link rel="stylesheet" href="../src/css/tableRounded.css">
<link rel="stylesheet" href="../src/css/scrollbar.css">
<link rel="stylesheet" href="../src/css/buttonColor.css">
<link rel="stylesheet" href="../src/css/loadingIcon.css">
<link rel="stylesheet" href="../src/css/stars.css">
<link rel="stylesheet" href="../src/css/layout/header.css">
<link rel="stylesheet" href="../src/css/layout/navbar.css">
<link rel="stylesheet" href="../src/css/layout/filterbar.css">
<link rel="stylesheet" href="../src/css/colors/colors.css">
<link rel="stylesheet" href="../src/css/components/cards.css">
<link rel="stylesheet" href="../src/css/components/preview.css">
<link rel="stylesheet" href="../src/css/layout/sidebar.css">
<link rel="stylesheet" href="../src/css/components/labels.css">
<link rel="stylesheet" href="../src/css/components/palettes.css">
<link rel="stylesheet" href="../src/css/layout/sections.css">

 <!-- Bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">