.btn-palette {
    width: 32px;
    height: 32px;
}

.btn-palette-bg-color-2-A {
    clip-path: polygon(100% 40%, 40% 100%, 100% 100%); 
    top: -2px; 
    left: -2px
}

.btn-palette-bg-color-2-B {
    clip-path: polygon(100% 10%, 10% 100%, 100% 100%);
    top: -2px; 
    left: -2px
}

.btn-palette-bg-color-3 {
    clip-path: polygon(100% 55%, 55% 100%, 100% 100%); 
    top: -2px; 
    left: -2px
}