.title-element {
    background-color: #666;
    color: white;
    --clip-top: clamp(4%, 6vw, 20%);
    --clip-bottom: clamp(85%, 92vw, 95%);

    clip-path: polygon(
        0 0,
        100% var(--clip-top),
        100% 100%,
        0 var(--clip-bottom)
    );
    min-height: clamp(128px, 10vh, 256px);

    display: flex;
    align-items: center;
}

.title-element > div {
    width: 100%;
}