.navbar {
    background-color: #666;
    border-top: var(--green) 6px solid;
    border-bottom: var(--blue) 6px solid;
}

.navbar-list {
    gap: clamp(.5rem, 1vw, 1rem);
    list-style: none;
}

.navbar-item {
    display: flex;
}

.navbar-btn {
    position: relative;
    overflow: hidden;

    clip-path: polygon(
        6% 0,
        100% 0,
        94% 100%,
        0% 100%
    );

    display: flex;
    align-items: center;
    gap: .6rem;

    padding: clamp(.65rem, 1vw, .9rem)
             clamp(1rem, 2vw, 1.4rem);

    background: #444;

    color: white;

    text-decoration: none;

    z-index: 1;

    transition:
        transform .25s ease,
        color .35s ease;
}

.navbar-btn:hover {
    color: black;
    text-shadow: 1px 1px 2px #00000025;
}

.navbar-btn::after {
    content: "";

    position: absolute;

    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;

    z-index: -2;

    background: var(--green);

    transition: all .35s ease;

    clip-path: polygon(
        6% 0,
        100% 0,
        94% 100%,
        0% 100%
    );
}

.navbar-btn::before {
    content: "";

    position: absolute;

    left: 0;
    right: 0;
    bottom: -20%;

    height: 20%;

    background: white;

    z-index: -1;

    transition: bottom .35s ease;

    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
}

.navbar-btn:hover::before {
    bottom: 0;
}

.navbar-btn,
.navbar-btn::after {
    clip-path: polygon(
        10% 0,
        100% 0,
        95% 100%,
        0% 100%
    );
}

.slide_from_left::after {
    top: 0;
    bottom: 0;

    left: -100%;
    right: 100%;
}

.slide_from_left:hover::after {
    left: 0;
    right: 0;
}

.slide_from_right::after {
    top: 0;
    bottom: 0;

    left: 100%;
    right: -100%;
}

.slide_from_right:hover::after {
    left: 0;
    right: 0;
}

.slide_from_top::after {
    left: 0;
    right: 0;

    top: -100%;
    bottom: 100%;
}

.slide_from_top:hover::after {
    top: 0;
    bottom: 0;
}

.navbar-btn-active {
    background: #222;
    color: var(--green);

    cursor: default;
    pointer-events: none;

    font-weight: 700;
}

.navbar-btn i {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
}

.navbar-btn-shadow {
    display: inline-block;

    width: fit-content;

    filter: drop-shadow(4px 4px 0px rgba(0,0,0,.2));

    transition:
        transform .25s ease,
        filter .25s ease;
}

.navbar-btn-shadow:hover {
    transform: translateY(-2px);

    filter: drop-shadow(6px 6px 0px rgba(0,0,0,.5));
}

