@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --green: #00df00;
    --blue: #0000c7;
    
    --font-size-multiplier: 0.7;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
  font-size: 16px;
}

p {
  font-size: clamp(1rem, 1.1vw, 1.125rem * var(--font-size-multiplier));
}

h1 {
  font-size: clamp(1.75rem, 4vw, 3rem * var(--font-size-multiplier));
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem * var(--font-size-multiplier));
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2rem * var(--font-size-multiplier));
}

h4 {
  font-size: clamp(1.125rem, 2vw, 1.5rem * var(--font-size-multiplier));
}

h5 {
  font-size: clamp(1rem, 1.5vw, 1.25rem * var(--font-size-multiplier));
}

h6 {
  font-size: clamp(0.875rem, 1vw, 1rem * var(--font-size-multiplier));
}

.min-dvh-100 {
    min-height: 100dvh !important;
}